body {
    background-color: #FF8463;
}

#picture {
    padding-top: 50px;
    
}

#headers {
    text-align:center ;
    font-family: serif;
    color: black;
}

.jumbotron {
    background-color: white
}
